<!DOCTYPE HTML>
<html>

<header>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#tblData').dataTable();
    });
</script>
</header>

<% no=-1 %>
 <div class="container">
     <div class="row">
      <div class="col-lg-8 mx-auto">

        
     <%= form_for :form, url: report_index_path do |f| %>

   <div class="form-row">
      <div class="col-md-4 mb-3">
      <label for="start">Date from:</label>
          <%= f.date_field :start_date,:value => @start_date, class: 'form-control' %>
    </div>
  
    <div class="col-md-4 mb-3">
     <label for="end">To:</label>
          <%= f.date_field :end_date,:value => @end_date, class: 'form-control' %>

    </div>
     <!-- INPUT for SEARCH-->
         <div class="form-group">
            <label for="session_id_file">Session ID</label>
            <%= f.file_field :session_id_file, class: 'form-control' %>

         </div>
    </div>   
         
        <%= f.submit "Search", url: report_index_path, method: :POST, class:'btn btn-info' %>  
        <button class="btn-xls-export" onclick="exportTableToExcel('tblData_hide')">Export To Excel</button>
      <% end %>
       </div>
     </div>
  </div>

<!-- Export Button 
<div style="text-align:right;">
  <em>Export the table to xls file.</em><br>
  <button class="btn-xls-export" onclick="exportTableToExcel('tblData_hide')">Export To Excel</button>
</div><br>
-->

<!-- TABLE SHOW WEB PAGE -->
<div id="table-responsive">
  <table class ="table table-sm" id ="tblData">
    <thead>
      <tr>
        
        <th>session_id</th>
        <th>chat_input</th>
<!--    <th>ConversationFlowName</th>-->


        <th>normText</th>
        <th>semiNormText</th>
<!--    <th>money</th>
        <th>currency</th>
        <th>semanticTag</th>
        <th>intentionTag</th>
        <th>intentionCode</th>
        <th>productList</th>--> 
        <th>Date</th>
        <th class="hide_th"></th>
      </tr>
    </thead>

      <tbody>
      <% @report.each do |report| %>
      <tr>
        
        <td width="20%"><%= report["nl_result"]['request']['session_id'] %></td>
        <td width="25%"><%= report["nl_result"]['request']['chat_input'] %></td>
<!--    <td><%= report["nl_result"]['request']['ConversationFlowName'] %></td> -->
  
        <td width="20%"><%= report['nl_result']['nlu']['normText'] %></td>
        <td width="20%"><%= report['nl_result']['nlu']['semiNormText'] %></td>
<!--    <td><%= report['nl_result']['nlu']['keywordExtraction']['money'] if report['nl_result']['nlu']['keywordExtraction'].present?%></td>
        <td><%= report['nl_result']['nlu']['keywordExtraction']['currency'] if report['nl_result']['nlu']['keywordExtraction'].present?%></td>
        <td><%= report['nl_result']['nlu']['prediction']['results']['semanticTag'] if report['nl_result']['nlu']['prediction'].present?%></td>
        <td><%= report['nl_result']['nlu']['prediction']['results']['intentionTag'] if report['nl_result']['nlu']['prediction'].present?%></td>
        <td><%= report['nl_result']['nlu']['prediction']['results']['intentionCode'] if report['nl_result']['nlu']['prediction'].present?%></td>
        <td><%= report['nl_result']['nlu']['prediction']['results']['productList'] if report['nl_result']['nlu']['prediction'].present?%></td>
 -->

        <td width="25%"> <%=  @created_at[no+=1] %></td>
        <td><%= link_to '<i class="fa fa-search" aria-hidden="true"></i>'.html_safe, report_path(report["nl_result"]['request']['session_id']),{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %></td>
        
      </tr>
      <% end %>

</table>
</div>


<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>


















 <!-- TABLE HIDEN for EXPORT XLS -->
<div class="tbl_hide" id= "tblData_hide">
<table id="tblData" class="display" style="width:100%" border="1"><br>
    <thead>
        <tr>
            <th>Session_ID</th>
            <th>Chat_Input</th>
            <th>Conversation_Flow_Name</th>
            <th>Version</th>
            <th>Norm_Text</th>
            <th>Semi_Norm_Text</th>
            <th>Semantic_Tag</th>
            <th>Intention_Tag</th>
            <th>Intention_Code</th>
            <th>Product_List</th>
        </tr>
    </thead>

        <tbody>
        <% @report.each do |report| %>
        <tr>
            <td><%= report['nl_result']['request']['session_id']                         if report['nl_result']['request'].present?%></td>
            <td><%= report['nl_result']['request']['chat_input']                         if report['nl_result']['request'].present?%></td>
            <td><%= report['nl_result']['request']['ConversationFlowName']               if report['nl_result']['request'].present?%></td>
            <td><%= report['nl_result']['nlu']['version']                                if report['nl_result']['nlu'].present?%></td>
            <td><%= report['nl_result']['nlu']['normText']                               if report['nl_result']['nlu'].present?%></td>
            <td><%= report['nl_result']['nlu']['semiNormText']                           if report['nl_result']['nlu'].present?%></td>
            <td><%= report['nl_result']['nlu']['prediction']['results']['semanticTag']   if report['nl_result']['nlu']['prediction'].present?%></td>
            <td><%= report['nl_result']['nlu']['prediction']['results']['intentionTag']  if report['nl_result']['nlu']['prediction'].present?%></td>
            <td><%= report['nl_result']['nlu']['prediction']['results']['intentionCode'] if report['nl_result']['nlu']['prediction'].present?%></td>
            <td><%= report['nl_result']['nlu']['prediction']['results']['productList']   if report['nl_result']['nlu']['prediction'].present?%></td>
        </tr>
        <% end %>
        </tbody>
        
</table>



</div>

</html>


